@tailwind base;
@tailwind components;
@tailwind utilities;



.Card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
}

.img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
.img1{
    width: 100%;
    object-fit: cover;
   
}
.img1:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}