@tailwind base;
@tailwind components;
@tailwind utilities;



.Card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
}
.OurValues{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    padding: 25px;
}

.img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;

}
.img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}


.img1{
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.img1:hover{
    transform: scale(1.1);

}





/* transation & animation */

.header{
 animation: liFade 0.6s ease forwards;
}

@keyframes liFade{
    from{
        transform: translateY(-10px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}


/* homepage-image */
.banner{
animation: banner 2s ease-in-out infinite alternate;
}
@keyframes banner{
    from{
        /* opacity: 0; */
        transform: translateY(5px);
    }
    to{
        /* opacity: 1; */
        transform: translateY(10px);
    }
}
